/* =============================================== */
/* root CSS */
/* =============================================== */

:root {
    --color-text-disabled: pink;
    --color-disabled: green;
    --global-border-radius: 20px;

}

body {
    overflow-x: hidden;
    font-size: 16px;
    font-weight: 400;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #fff;
    background-color: blue;
}
.page {
    padding: 50px 100px;
}

/* =============================================== */
/* Header */
/* =============================================== */
.container h1 {
    font-size: 4rem;
}
#todo-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#todo-form input {
    flex: 1 1 auto;
    margin-right: 1.5rem;
    padding: 20px 80px 20px 10px;
    font-size: 2rem;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}
#todo-form input:focus {
    outline: none;
}
#todo-form input[type="text"] {
    color: #fff;
}
#todo-form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
#todo-form button {
    padding: 25px 36px;
    font-size: 1.5rem;
    border: none;
    border-radius: var(--global-border-radius);
    color: blue;
}

/* =============================================== */
/* status */
/* =============================================== */
.stats {
    display: flex;
    margin: 4rem 0 1.5rem 0;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    white-space: nowrap;
}
.box-container {
    display: flex;
}
.box-decoration {
    display: flex;
    font-size: 1rem;
}
.box-decoration:first-child {
    margin-right: 0.8rem;
}
.box-decoration span:first-child {
    padding: 0.7rem 1rem;
    border-radius: 12px 0 0 12px;
    color: blue;
    background-color: #fff;
}
.box-decoration span:last-child {
    padding: 0.7rem 1rem;
    border: 1px solid #fff;
    border-radius: 0 12px 12px 0;
    color: #fff;
    background-color: transparent;
}


/* =============================================== */
/* To Do List */
/* =============================================== */
.todos {
    margin-bottom: 4rem;
}

.todos li {
    margin-bottom: 1rem;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    border-radius: var(--global-border-radius);
    background-color: rgba(255, 255, 255, 0.3);
}
.todos li div {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.todos li.complete {
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
}

input[type="checkbox"] {
    margin: 0;
    appearance: none;
    background-color: transparent;

    width: 1rem;
    height: 1rem;
    border: 2px solid #fff;
    display: grid;
    place-content: center;
    /* transition: all .2s ease-in-out; */
}

input[type="checkbox"]::before {
    content: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 -1 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 9.4L0 5.4L1.4 4L4 6.6L10.6 0L12 1.4L4 9.4Z' fill='%23000AFF'/%3E%3C/svg%3E%0A");
    transform: scale(0);
    transition: all .2s ease-in-out;
}
input[type="checkbox"]:checked {
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.todos li button {
    padding: 0.25rem;
    font-size: 1.5rem;
    border: 0;
    color: #fff;
    background-color: transparent;
}
.todos li.complete button {
    color: rgba(255, 255, 255, 0.4);
}


.todos li span {
    padding: 10px;
    border-radius: 12px;
    transition: all .2s ease-in-out;
}
.todos li span:focus {
    background-color: blue;
    outline: none;
}
.todos li span[contenteditable]:hover {
    background-color: blue;
}